<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luisamoncada.miapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconop"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name=".Asplash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Koticas" />
        <activity android:name=".Apeluqueria" />
        <activity android:name=".Aveterinaria" />
        <activity android:name=".Apaseo" />
        <activity android:name=".Ahotel" />
        <activity android:name=".Acomida" />
        <activity android:name=".Afamilia" />
        <activity android:name=".Abuscar" />
        <activity android:name=".Aconfiguracion"></activity>
    </application>

</manifest>